[package]
name = "rumos"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
brightness = "0.5.0"
clap = { version = "4.3.10", features = ["derive"] }
futures = "0.3.28"
